<ion-view title="Glue!">
    <ion-nav-bar class="bar-stable">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
    <div class="bar bar-subheader item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="What do you feel like eating?">
        </label>
    </div>
    <ion-content align="left" padding="true" class="has-header has-subheader">
        
    </ion-content>
</ion-view>
